@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(218, 218, 218, 0.44);
}
.dragArea {
    display: contents;
}
.svg-warning {
    color: #F3983F;
}
.green {
    background-color: #1B998B;
}
.text-green {
    color: #1B998B;
}
